{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ with .Site.Params.contact.headline }}{{ . }}{{ end }}</h2>
                <hr class="primary">
                <p>{{ with .Site.Params.contact.description }}{{ . | markdownify }}{{ end }}</p>
            </div>
            
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="tel:{{ with .Site.Params.contact.phone }}{{ . }}{{ end }}">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>{{ with .Site.Params.contact.phone }}{{ . }}{{ end }}</p>
                </a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="mailto:{{ with .Site.Params.contact.email }}{{ . }}{{ end }}">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ with .Site.Params.contact.email }}{{ . }}{{ end }}</p>
                </a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="https://twitter.com/{{ with .Site.Params.contact.twitter }}{{ . }}{{ end }}">
                    <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>@{{ with .Site.Params.contact.twitter }}{{ . }}{{ end }}</p>
                </a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="https://facebook.com/{{ with .Site.Params.contact.facebook }}{{ . }}{{ end }}">
                    <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ with .Site.Params.contact.facebook }}{{ . }}{{ end }}</p>
                </a>
            </div>
        </div>
    
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="google-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10117428.379279079!2d-3.8596213098909926!3d51.74994684296207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c66f44fcbb8211%3A0x21070dff19ee2118!2sByte23+B.V.!5e0!3m2!1sen!2snl!4v1453729832100" 
                width="800" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <p>{{ with .Site.Params.contact.legal }}{{ . }}{{ end }}</p>
            </div>
        </div>
        
    </div>
</section>
